.logo
    height: 60px
    position: absolute

.headerText
    text-align: center
    flex-grow: 1

.TextField
	label
		transform: translate(14px, 6px) scale(1)!important
	input
		padding-top: 4px !important
		padding-bottom: 4px !important